/* Color Pallett
rgba(232, 180, 184, 1),
rgba(238, 214, 211, 1),
rgba(164, 147, 147, 1),
rgba(103, 89, 94, 1)


*/

.repo-list li{
  list-style: none;
  padding: 20px;
  margin-bottom: 20px;

}

.repo-list li h2{
  margin-bottom: 20px;
}
