<div class="container">
  <form (submit)="searchRepo()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search User Name to view repositories</label>
      <input [formControl]="repo" type="text" class="form-control" id="repo" aria-describedby="emailHelp" name="repo">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
<div>
  <ul *ngFor="let repo of repos" >
    <li> <a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a><br>
      <p>created {{ repo.created_at|dayCount }} days ago</p>
    </li>

  </ul>
</div>

