<div class="container">
  <form (submit)="searchUser()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search User Name to view Details</label>
      <input [formControl]="name" type="text" class="form-control" id="userName" aria-describedby="emailHelp" name="userName">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <div>
   <a href="{{users.html_url}}?tab=repositories" target="_blank">{{ users.name }}</a>
  </div>

</div>
