<div class="container">
  <h1>Github User Search</h1>
  <form (submit)="searchUser()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Hello, Enter the username of a github user </label>
      <input [formControl]="name" type="text" class="form-control" id="userName" aria-describedby="emailHelp" name="userName">
    </div>
    <div>
      <button type="submit" class="btn btn-secondary">Search</button>
    </div>
  </form>

  <div class="row">
    <div class="user-image col-md-6">
      <div class="user-name">
        <h2><a href="{{users.html_url}}?tab=repositories" target="_blank">{{ users.name }}</a></h2>
       </div>
      <img src="{{users.avatar_url}}" alt="">
    </div>
    <div class="user-info col-md-6">
        <!-- <ul>
          <li class="list-group-item">{{ users.bio }}</li>
          <li class="list-group-item">Profile: {{ users.html_url }}</li>
          <li class="list-group-item">Public repositories: {{ users.public_repos }}</li>
        </ul> -->
        <p>{{users.bio}}</p> <br>
        <p>Profile:&nbsp;&nbsp;{{users.html_url}}</p> <br>
        <p>Public Repos:&nbsp;&nbsp;  {{users.public_repos}}</p>
        <p><span class="badge bg-secondary">Followers: {{ users.followers }}</span>&nbsp;&nbsp;<span class="badge bg-secondary"> Following: {{ users.following }}</span></p>
    </div>
  </div>
</div>
