<div class="container d-flex ">
  <div class="row">
    <div class="row repo-image col-md-7">
      <img src="{{ user.avatar_url }}" alt=""> <br>
    </div>
    <div class="repo-link col-md-5" >
      <h1>
        <a  target="_blank" href="{{ user.html_url }}">{{ user.name }}</a>
      </h1> <br> <hr>
      <p>{{ user.bio }}</p> <hr>
      <p>public Repositories : &nbsp; {{ user.public_repos }}</p> <hr>
      <p>Following : &nbsp; {{ user.following }}</p> <hr>
      <p>Followers : &nbsp; {{ user.followers }}</p> <hr>
    </div>
</div>
</div>
